:root {
    --background-color: #fafafa;
    --text-color: #2d2d2def;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --primary-color: rgb(169, 29, 52);
    --secondary-color: pink;
    --button-bg: rgb(169, 29, 52);
    --button-text: #ffffff;
    --button-hover-bg: #ffffff;
    --button-hover-text: rgb(169, 29, 52);
}

.profile-dark {
    --background-color: #1e1e1eac;
    --text-color: #fff;
    --shadow-color: rgba(255, 255, 255, 0.1);
    --primary-color: rgb(169, 29, 52);
    --secondary-color: pink;
    --button-bg: rgb(169, 29, 52);
    --button-text: #ffffff;
    --button-hover-bg: #fff;
    --button-hover-text: rgb(169, 29, 52);
}

.profile-light {
    --background-color: #fafafa;
    --text-color: #2d2d2d;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --primary-color: rgb(169, 29, 52);
    --secondary-color: pink;
    --button-bg: rgb(169, 29, 52);
    --button-text: #ffffff;
    --button-hover-bg: #ffffff;
    --button-hover-text: rgb(169, 29, 52);
}

.home-container {
    display: flex;
    min-height: 100vh;
    background-color: transparent;
}

.main-content {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 10px;
    margin-top: 70px;
    flex-wrap: nowrap;
    overflow-x: auto;
    background: var(--background-color);
}

.game-center-container {
    flex: 2;
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    background: transparent;
}

.lobby-right-container {
    flex: 1;
    max-width: 350px;
    background-color: var(--background-color);
    border-radius: 16px;
    box-shadow: 0 4px 10px var(--shadow-color);
    padding: 20px;
    gap: 10px;
}

@media (max-width: 900px) {
    .main-content {
        margin-left: 0;
        margin-top: 60px;
        padding: 10px;
        gap: 5px;
        flex-wrap: nowrap;
    }

    .game-center-container {
        flex: 3;
        min-width: 300px;
    }

    .lobby-right-container {
        flex: 1;
        max-width: 200px;
        max-height: 700px;
        margin-top: 15px;
        min-width: 200px;
    }
}

@media (max-width: 600px) {
    .main-content {
        padding: 5px;
        gap: 3px;
    }

    .game-center-container {
        min-width: 200px;
    }

    .lobby-right-container {
        max-width: 150px;
        min-width: 150px;
        padding: 10px;
    }
}