.grid-property {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    height: fit-content;
    width: 100%;
    max-height: 220px;
}

.container {
    display: grid;
    grid-template-columns: minmax(150px, 300px) minmax(90px, 180px) minmax(175px, 350px) minmax(150px, 300px);
    grid-template-rows: 90px 90px;
    gap: 10px;
    width: 100%;
    max-width: 1140px;
    background-color: transparent;
}

.item-a,
.item-b,
.item-c,
.item-d,
.item-e,
.item-f {
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.item-a {
    background: palevioletred;
    height: 200px;
    grid-column: 1;
    grid-row: 1 / 3;
}

.item-b {
    background: orange;
    height: 94px;
    grid-column: 2;
    grid-row: 1;
}

.item-c {
    background: pink;
    height: 94px;
    grid-column: 3;
    grid-row: 1;
}

.item-d {
    background: gold;
    height: 94px;
    grid-column: 2;
    grid-row: 2;
}

.item-e {
    background: aqua;
    height: 94px;
    grid-column: 3;
    grid-row: 2;
}

.item-f {
    background: orange;
    height: 200px;
    grid-column: 4;
    grid-row: 1 / 3;
}

@media (max-width: 900px) {
    .grid-property {
        max-height: 150px;
    }

    .container {

        grid-template-columns: minmax(100px, 200px) minmax(60px, 120px) minmax(120px, 240px) minmax(100px, 200px);
        grid-template-rows: 60px 60px;
    }

    .item-a,
    .item-f {
        height: 130px;
    }

    .item-b,
    .item-c,
    .item-d,
    .item-e {
        height: 60px;
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: minmax(70px, 150px) minmax(40px, 90px) minmax(80px, 175px) minmax(70px, 150px);
        grid-template-rows: 40px 40px;
    }

    .grid-property {
        max-height: 150px;
    }

    .item-a,
    .item-f {
        height: 90px;
    }

    .item-b,
    .item-c,
    .item-d,
    .item-e {
        height: 40px;
    }
}