.lobby-details-container {
    min-height: 100vh !important;
    padding: 30px !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.lobby-header {
    border-radius: 16px;
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
}

.lobby-left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.lobby-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 6px 0;
    flex-wrap: wrap;
    max-width: 600px;
}

.lobby-content {
    display: flex;
    flex: 1;
    gap: 20px;
    flex-direction: column;
}

.players-card {
    max-height: 300px;
    overflow-y: auto;
    background: var(--background-color) !important;
    margin-top: 20px;
}

.chat-card {
    display: flex;
    flex-direction: column;
    background: var(--background-color) !important;
}

.chat-input {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.chat-messages {
    max-height: 50vh;
    overflow-y: auto;
    border-radius: 8px;
    flex-grow: 1;
}

/* Responsive Design */
@media (min-width: 900px) {
    .lobby-content {
        flex-direction: row;
        height: calc(100vh - 200px);
    }

    .players-card {
        width: 100%;
        max-height: none;
    }

    .lobby-left-section {
        width: 40%;
    }

    .chat-card {
        width: 60%;
    }

    .chat-messages {
        max-height: calc(100vh - 300px);
    }
}

@media (max-width: 600px) {
    .lobby-actions {
        gap: 6px;
        max-width: 100%;
    }

    .lobby-actions button {
        min-width: 90px;
        font-size: 12px;
        padding: 5px 10px;
    }
}