.text-property {
    color: rgb(88, 18, 29) !important;
    width: 150px !important;
}

.create-lobby-container {
    width: 500px !important;
}

.MuiInputLabel-root {
    color: rgba(0, 0, 0, 0.7) !important;

}

.Mui-focused .MuiInputLabel-root {
    color: rgb(88, 18, 29) !important;
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(88, 18, 29) !important;
    border-bottom: none;
}

.lobby-switch {
    color: rgb(88, 18, 29) !important;
}

.lobby-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}